Remote/Service References/SrzServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SrzService.DataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SrzService.DataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPeople">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="People" nillable="true" type="tns:People" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPeople" nillable="true" type="tns:ArrayOfPeople" />
  <xs:complexType name="People">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthday" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ENP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Patronymic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeopleId" type="xs:int" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="People" nillable="true" type="tns:People" />
  <xs:complexType name="Policy">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateBegin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateStop" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PeopleId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PolicyId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicySerial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyType" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy" nillable="true" type="tns:Policy" />
  <xs:complexType name="ArrayOfPolicy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Policy" nillable="true" type="tns:Policy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPolicy" nillable="true" type="tns:ArrayOfPolicy" />
</xs:schema>