DataCore/v31K1/Xsd/D2.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PERS_LIST">
    <xs:complexType>
      <xs:sequence>
        <!--Begin ZGLV-->
        <xs:element name="ZGLV">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="VERSION" type="xs:string" fixed="3.1K">
                <xs:annotation>
                  <xs:documentation>Версия взаимодействия. Текущей редакции соответствует значение 3.1</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="DATA">
                <xs:annotation>
                  <xs:documentation>Дата в формате ГГГГ-ММ-ДД</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:date">
                    <xs:pattern value="\d{4}-\d{2}-\d{2}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="FILENAME">
                <xs:annotation>
                  <xs:documentation>Имя файла без расширения.</xs:documentation>
                </xs:annotation> 
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="26"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="FILENAME1">
                <xs:annotation>
                  <xs:documentation>Имя файла, с которым связан данный файл, без расширения.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="26"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!--End ZGLV-->
        <!--Begin PERS-->
        <xs:element name="PERS" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID_PAC">
                <xs:annotation>
                  <xs:documentation>Код записи о пациенте</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="36"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="FAM" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Фамилия пациента</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="40"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="IM" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Имя пациента</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="40"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="OT" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Отчество пациента</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="40"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="W">
                <xs:annotation>
                  <xs:documentation>Пол пациента</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:pattern value="\d{1}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="DR">
                <xs:annotation>
                  <xs:documentation>Дата рождения пациента</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:date">
                    <xs:pattern value="\d{4}-\d{2}-\d{2}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="DOST" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Код надёжности идентификации</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:nonNegativeInteger">
                    <xs:pattern value="1|2|3|4|5|6"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="FAM_P" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Фамилия представителя пациента</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="40"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="IM_P" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Имя представителя пациента</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="40"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="OT_P" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Отчество представителя пациента</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="40"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="W_P" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Пол представителя пациента </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:pattern value="\d{1}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="DR_P" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Дата рождения представителя пациента</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:date">
                    <xs:pattern value="\d{4}-\d{2}-\d{2}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="DOST_P" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Код надёжности идентификации представителя</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:nonNegativeInteger">
                    <xs:pattern value="1|2|3|4|5|6"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="MR" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Место рождения пациента или представителя</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="100"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="DOCTYPE" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Тип документа, удостоверяющего личность пациента или представителя</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="2"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="DOCSER" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Серия документа, удостоверяющего личность пациента или представителя</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="10"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="DOCNUM" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Номер документа, удостоверяющего личность пациента или представителя</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="20"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="SNILS" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>СНИЛС</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="14"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="OKATOG" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Код места жительства по ОКАТО</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="11"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="OKATOP" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Код места пребывания по ОКАТО</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="11"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="COMENTP" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Служебное поле</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="250"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!--End PERS-->
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>